<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pingan.groupinsure.base.mapper.EmployeesMapper" >
  <resultMap id="BaseResultMap" type="com.pingan.groupinsure.base.domain.Employees" >
    <id column="employee_id" property="employeeId" jdbcType="INTEGER" />
    <result column="first_name" property="firstName" jdbcType="VARCHAR" />
    <result column="last_name" property="lastName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone_int" property="phoneInt" jdbcType="VARCHAR" />
    <result column="hire_date" property="hireDate" jdbcType="DATE" />
    <result column="job_id" property="jobId" jdbcType="VARCHAR" />
    <result column="salary" property="salary" jdbcType="DECIMAL" />
    <result column="commission_pct" property="commissionPct" jdbcType="DECIMAL" />
    <result column="manager_id" property="managerId" jdbcType="INTEGER" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from employees
    where employee_id = #{employeeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pingan.groupinsure.base.domain.Employees" useGeneratedKeys="true" keyProperty="employeeId" >
    insert into employees (first_name, last_name, email, 
      phone_int, hire_date, job_id, 
      salary, commission_pct, manager_id, 
      department_id)
    values (#{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{phoneInt,jdbcType=VARCHAR}, #{hireDate,jdbcType=DATE}, #{jobId,jdbcType=VARCHAR}, 
      #{salary,jdbcType=DECIMAL}, #{commissionPct,jdbcType=DECIMAL}, #{managerId,jdbcType=INTEGER}, 
      #{departmentId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pingan.groupinsure.base.domain.Employees" >
    update employees
    set first_name = #{firstName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone_int = #{phoneInt,jdbcType=VARCHAR},
      hire_date = #{hireDate,jdbcType=DATE},
      job_id = #{jobId,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=DECIMAL},
      commission_pct = #{commissionPct,jdbcType=DECIMAL},
      manager_id = #{managerId,jdbcType=INTEGER},
      department_id = #{departmentId,jdbcType=INTEGER}
    where employee_id = #{employeeId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select employee_id, first_name, last_name, email, phone_int, hire_date, job_id, salary, 
    commission_pct, manager_id, department_id
    from employees
    where employee_id = #{employeeId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select employee_id, first_name, last_name, email, phone_int, hire_date, job_id, salary, 
    commission_pct, manager_id, department_id
    from employees
  </select>
</mapper>